{% extends 'pagina/base.html' %}
{% load static %}

{% block js %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
      let imgchange9 = document.getElementById("imgChange9");
  
      let localBtn = document.getElementById("local");
      let visitaBtn = document.getElementById("visita");
      let alternativaBtn = document.getElementById("alternativa");
  
      let imgLocal9 = "{% static 'pagina/img/ARGENTINA/ARGENTINALOCAL.jpeg' %}";
      let imgVisita9 = "{% static 'pagina/img/ARGENTINA/ARGENTINA VISITA.webp' %}" ;
      let imgAlternativa9 = "";
  
      function changeImage(color) {
          if (color === 'local') {
              imgchange9.src = imgLocal9;
          } else if (color === 'visita') {
              imgchange9.src = imgVisita9;
          } else if (color === 'alternativa') {
              imgchange9.src = imgAlternativa9;
          }
      }
  
      localBtn.addEventListener("click", function() {
          changeImage('local');
      });
      visitaBtn.addEventListener("click", function() {
          changeImage('visita');
      });
      alternativaBtn.addEventListener("click", function() {
          changeImage('alternativa');
      });
  
      changeImage('local');
  });
</script>

<script>
  window.onload = function() {
    var urlParams = new URLSearchParams(window.location.search);
    var imageUrl = urlParams.get('imageUrl');

    if (imageUrl) {
      document.getElementById('imgChange9').src = imageUrl;
    }
  };
</script>
{% endblock %}

{% block contenido %} 
<!--Imagen BANNER-->
<center><img class="imglogo img-fluid" src="{% static 'pagina/img/ARGENTINA/BANNERARGENTINA.webp' %}" alt="centered image" height="50%" width="100%"><br><br>
</center>
<!--Imagen de logo liga-->
<header class="d-flex justify-content-center align-items-center">
    <center><img class="imglogo img-fluid"src="{% static 'pagina/img/AFA.png' %}" alt="centered image" height="50%" width="50%"> </center>
</header>
<div class="container-title">
  <h3 class="text-center">NUEVA CAMISETA SELECCIÓN ARGENTINA</h3>
  <h5 class="text-center">Compra la camiseta oficial adidas de la Campeona del Mundo</h5> 
</div>
<!--Container eleccion-->
<h3 class="text1">Seleciona Camiseta Local/Visita:</h3>
<div class="seleccion-camiseta">
  <div id="local"><H5>L</H5></div>
  <div id="visita"><H5>V</H5></div>
</div>
<!--Container ARGENTINA camiseta-->
<div class="contenedor">
      <div class="row">
        <div class="col-lg-6">
          <div class="contenedor-img">
            <img src="{% static 'pagina/img/ARGENTINA/ARGENTINALOCAL.jpeg' %}" id="imgChange9"  alt="" class="img-fluid"/>
          </div>
        </div>
      <div class="col-lg-6">
        <div class="contenedor-info-prod">
          <h1>SELECCION ARGENTINA 2024-2025</h1>
          <div class="contenedor-precio">
            <span>$50.000 CLP</span>
          </div>

        <div class="contenedor-detalles-prod">
            <div class="form-group">
              <label for="talla">Talla</label>
              <select name="size" id="size" class="form-control">
                <option disabled selected value="">Escoge una opción</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
              </select>
            </div>
        </div>

        <div class="contenedor-detalles-prod-per">
          <h4>Personaliza tu camiseta</h4>
          <section class="regist-name-num">
            <h>Nombre</h>
            <input class="form-controls" type="text" name="nombres" id="nombres">
            <p>$5.000 (indique NOMBRE para camiseta)</p> 
            <h>Número</h>
            <input class="form-controls" type="text" name="número" id="numero">
            <p>$5.000 (indique NUMERO para camiseta)</p>
          </section>          
        </div>

        <div class="contenedor-add-cart">
          <div class="contenedor-cantidad">
            <input type="number" placeholder="1" value="1" min="1" class="form-controls input-cantidad"/>
          </div>
          <button class="btn btn-add-cart" id="carrito">
          <a href="#" data-id="1"><i class="bi-cart-plus"></i></a>    
          </button>
          <a href="comprar.html" class="btn btn-add-cart">Comprar</a>                               
        </div>
      
    <div class="contenedor-descrip">
        <div class="title-descrip">
          <h4>Descripción</h4>
        </div>
        <div class="text-descrip">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
            delectus commodi, mollitia, consequatur ex dolorum maiores beatae
            quidem maxime rem, dolore ullam recusandae repudiandae tempora.
            Unde neque suscipit voluptas facere!, Lorem ipsum dolor, sit amet 
            consectetur adipisicing elit. Sint delectus commodi, mollitia, 
            consequatur ex dolorum maiores beatae uidem maxime rem, dolore
            ullam recusandae repudiandae tempora.Unde neque suscipit voluptas 
            facere!
          </p>
        </div>
    </div>

    <div class="contenedor-info-add">
        <div class="title-info-add">
          <h4>Información adicional</h4>
        </div>
        <div class="text-info-add">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
            delectus commodi, mollitia, consequatur ex dolorum maiores beatae
            quidem maxime rem, dolore ullam recusandae repudiandae tempora.
            Unde neque suscipit voluptas facere!
          </p>
        </div>
    </div>
    <div class="contenedor-social">
        <h4>Compartir</h4>
        <div class="contenedor-btn-social">
          <i class="bi bi-instagram"></i>
          <i class="bi bi-facebook"></i>
          <i class="bi bi-twitter"></i>                      
        </div>
    </div>
    </div>   
    </div>
    </div>   
</div>
<!--FOTOS-->
<center>
  <img class="imglogo img-fluid" src="{% static 'pagina/img/ARGENTINA/MESSI4.jpg' %}" alt="centered image" height="600" width="400"> 
  <img class="imglogo img-fluid" src="{% static 'pagina/img/ARGENTINA/MESSI3.jpg' %}" alt="centered image" height="500" width="535">
  <img class="imglogo img-fluid" src="{% static 'pagina/img/ARGENTINA/MESSI1.webp' %}" alt="centered image" height="600" width="480">
</center>
<!--sección interes camisetas-->
<div class="container">
    <h3 class="text-center">También te recomendamos</h3><br>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'pagina/img/chile/Camiseta_Local_Colo-Colo_2024_Blanco_IQ2515_01_laydown.avif' %}" class="card-img img-fluid" alt="...">
              <div class="card-body">
                <h4 class="card-title fw-bold">COLO-COLO</h4>
                <h5 class="card-title fw-bold">Local 2023-2024</h5>
                <div class="rating">
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="d-flex justify-content-around mb-4">
                <a href="{% url 'cololocal' %}" class="btn btn-primary ">Ver mas</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'pagina/img/chile/LOCALU.webp' %}" class="card-img img-fluid" alt="...">
              <div class="card-body">
                <h4 class="card-title fw-bold">UNIVERSIDAD DE CHILE</h4>
                <h5 class="card-title fw-bold">Local 2023-2024</h5>
                <div class="rating">
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="d-flex justify-content-around mb-4">
                <a href="{% url 'udechilelocal' %}" class="btn btn-primary ">Ver mas</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'pagina/img/ARGENTINA/ARGENTINALOCAL.jpeg' %}" class="card-img img-fluid" alt="...">
              <div class="card-body">
                <h4 class="card-title fw-bold">SELECCIÓN ARGENTINA</h4>
                <h5 class="card-title fw-bold">Local 2024-2025</h5>
                <div class="rating">
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="d-flex justify-content-around mb-4">
                <a href="{% url 'argentina' %}" class="btn btn-primary ">Ver mas</a>
              </div>
            </div>
          </div>
        </div><br>
</div><br><br>

{% endblock %}