<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="css/Paginaprincipal.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <!--Imagen de fondo-->
    <style>
      body{
        background-image: url(imagenes/fondopagina.avif);
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    </style>
  </head>
  <body>
 <!--barra de menu-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <img class="img-logob" src="imagenes/balonllamas.png" alt="StoreFut" padding="10px" width="50" />
    <a class="navbar-brand"><span class="text-warning">LATINS</span>TOREFUT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="pagina.html"><i class="bi bi-house-fill"></i>  Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="Restodelmundo.html"><i></i>Resto del Mundo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Chile
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="selechile.html">Selección Chilena </a></li>
            <li><a class="dropdown-item" href="COLOCOLO.HTML">COLO-COLO</a></li>
            <li><a class="dropdown-item" href="Uchile.html">Universidad de Chile</a></li>
          </ul>
        </li>  
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-send-fill"></i> Envios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"> Contacto</a>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Envianos tu consulta. Te contactaremos a la brevedad</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Ingresa tu Nombre:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Ingresa tu E-mail:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Mensaje:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-secondary">Enviar</button>
                    </div>
                </div>
            </div>
        </div> 
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
            <i class="bi bi-person-fill"></i>
          </a>
        </li>
        <!-- Modal de Inicio de Sesión -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="loginForm">
                <div class="mb-3">
                  <label for="loginEmail" class="form-label">Correo Electrónico</label>
                  <input type="email" class="form-control" id="loginEmail" required>
                </div>
                <div class="mb-3">
                  <label for="loginPassword" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="loginPassword" required>
                </div>
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#registerModal">Registrarse</button>
            </div>
          </div>
        </div>
        </div>
        <!-- Modal de Registro -->
        <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registerModalLabel">Registrarse</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="row g-3 needs-validation" novalidate>
              <div class="col-md-6">
                <label for="validationCustom01" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="validationCustom01" value="" required>
                <div class="valid-feedback">
                  ¡Ingrese un Nombre!
                </div>
              </div>
              <div class="col-md-6">
                <label for="validationCustom02" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="validationCustom02" value="" required>
                <div class="valid-feedback">
                  ¡Ingrese un Apellido!
                </div>
              </div>
              <div class="col-md-6">
                <label for="validationCustomUsername" class="form-label">Correo</label>
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend">@</span>
                  <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                  <div class="invalid-feedback">
                    Por favor, Ingrese un Correo Valido.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="validationCustom03" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="validationCustom03" required>
                <div class="invalid-feedback">
                  Proporciona un Telefono válido.
                </div>
              </div>
              <div class="col-md-6">
                <label for="validationCustom03" class="form-label">Direccion</label>
                <input type="text" class="form-control" id="validationCustom03" required>
                <div class="invalid-feedback">
                  Proporcione una Direccion Valida.
                </div>
              </div>
              <div class="col-md-6">
                <label for="validationCustom05" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="validationCustom05" required>
                <div class="invalid-feedback">
                  Proporcione una Contraseña.
                </div>
              </div>
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                  <label class="form-check-label" for="invalidCheck">
                    Acepta los términos y condiciones
                  </label>
                  <div class="invalid-feedback">
                    Debe estar de acuerdo antes de enviar.
                  </div>
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary" type="submit">Registrarse</button>
              </div>
            </form>
          </div>
        </div>
      </div>
        </div>
    </ul> 
    </div>
      <i><a class="nav-link active" aria-current="page" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
      <i class="bi bi-cart-fill"></i></a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Tu Carrito de compras</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div id="carrito">
            <table id="lista-carrito">
              <thead>
                <tr>
                  <th>Imagen</th>
                  <th>Precio</th>
                  <th></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <a href="comprar.html" class="btn btn-primary">Comprar</a>
            <a href="#" id="vaciar-carrito" class="btn btn-primary">Vaciar</a>
          </div>
        </div>
      </div>
     </i>
   </div>
  </div>
  </nav><br>  

  <div class="contenedor-add-cart">
    <button class="btn btn-add-cart" id="carrito">
    <a href="#" data-id="1"><i class="bi-cart-plus"></i></a>    
    </button>
    <a href="comprar.html" class="btn btn-add-cart">Comprar</a>                               
  </div>

  </body>
  <script src="js/mijs.js"></script>
  <script>
    (function () {
      'use strict';
  
      // Obtener todos los formularios a los que queremos aplicar estilos de validación de Bootstrap personalizados
      var forms = document.querySelectorAll('.needs-validation');
  
      // Bucle sobre ellos y evitar el envío
      Array.prototype.slice.call(forms).forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
  
          form.classList.add('was-validated');
        }, false);
      });
    })();
  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#loginModal').on('hidden.bs.modal', function () {
        $('#loginForm')[0].reset();
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      $('#registerModal').on('hidden.bs.modal', function () {
        // Obtener el formulario dentro del modal de registro y restablecerlo
        $('#registerModal form')[0].reset();
        // También puedes restablecer la validación de los campos si es necesario
        $('#registerModal form').removeClass('was-validated');
      });
    });
  </script>
</html>
