
  {% extends 'pagina/base.html' %}
  {% load static %}

  {% block js %}
  <script>
    document.querySelectorAll('.ver-mas').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const detalleUrl = this.getAttribute('href');
            window.location.href = detalleUrl;
        });
    });
  </script>
  {% endblock %}

  {% block contenido %}
  {% load humanize %} 
   <!--carrusel (fotos)-->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="{% static 'pagina/img/carrusel/allianz_arena2.jpg' %}" class="d-block w-100 img-carrusel" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'pagina/img/carrusel/united.jpg' %}" class="d-block w-100 img-carrusel" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'pagina/img/carrusel/ajax.webp' %}" class="d-block w-100 img-carrusel" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'pagina/img/carrusel/boca.jpg' %}" class="d-block w-100 img-carrusel" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'pagina/img/carrusel/coloclo.jpg_large' %}" class="d-block w-100 img-carrusel" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'pagina/img/carrusel/palmeiras.jpg' %}" class="d-block w-100 img-carrusel" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div><br> 

  <!--sección RESTO DEL MUNDO-->
  <div class="container">
    <h3 class="text-center">Camisetas más vendidas sección Resto del Mundo</h3><br>
  
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
      {% for p in productos_internacionales %}
      <div class="col-md-4">
        <div class="card">
          {% if p.imagen %}
          <img src="{{ p.imagen.url }}" class="card-img img-fluid" alt="...">
          {% endif %}
          <div class="card-body">
            <h4 class="card-title fw-bold">{{ p.nombre }}</h4>
            <h5 class="card-title fw-bold">{{ p.descripcion }}</h5>
            <h5 class="card-title fw-bold">$ {{ p.precio | intcomma }}</h5>
            <div class="rating">
              <i class="bi bi-star star"></i>
              <i class="bi bi-star star"></i>
              <i class="bi bi-star star"></i>
              <i class="bi bi-star star"></i>
              <i class="bi bi-star star"></i>
            </div>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
          <div class="d-flex justify-content-around mb-4">
            <a href="{% url 'detalleP' p.id %}" class="btn btn-primary ver-mas">Ver más</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div><br><br>
  </div>

  <!--sección CHILE-->
    <h3 class="text-center">Camisetas más vendidas sección Chile</h3><br>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for p in productos_chile %}
        <div class="col-md-4">
          <div class="card">
            {% if p.imagen %}
            <img src="{{ p.imagen.url }}" class="card-img img-fluid" alt="...">
            {% endif %}
            <div class="card-body">
              <h4 class="card-title fw-bold">{{p.nombre}}</h4>
              <h5 class="card-title fw-bold">$ {{p.precio | intcomma}}</h5>
              <div class="rating">
                <i class="bi bi-star star"></i>
                <i class="bi bi-star star"></i>
                <i class="bi bi-star star"></i>
                <i class="bi bi-star star"></i>
                <i class="bi bi-star star"></i>
              </div>
              <p class="card-text">{{p.descripcion}}</p>
            </div>
            <div class="d-flex justify-content-around mb-4">
              <a href="{% url 'detalleP' p.id %}"class="btn btn-primary ">Ver mas</a>
            </div>
          </div>
        </div>
        {% endfor %}
   </div>
  </div><br><br>

  {% endblock %}
  
  
