
{% extends 'pagina/base.html' %}
{% load static %}

{% block js %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
      let imgchange8 = document.getElementById("imgChange8");
  
      let localBtn = document.getElementById("local");
      let visitaBtn = document.getElementById("visita");
      let alternativaBtn = document.getElementById("alternativa");
  
      let imgLocal8 = "{% static 'pagina/img/Europa/Francia/polera_psg.jpg' %}";
      let imgVisita8 = "{% static 'pagina/img/Europa/Francia/polera_visita_psg.jpg' %}" ;
      let imgAlternativa8 = "";
  
      function changeImage(color) {
          if (color === 'local') {
              imgchange8.src = imgLocal8;
          } else if (color === 'visita') {
              imgchange8.src = imgVisita8;
          } else if (color === 'alternativa') {
              imgchange8.src = imgAlternativa8;
          }
      }
  
      localBtn.addEventListener("click", function() {
          changeImage('local');
      });
      visitaBtn.addEventListener("click", function() {
          changeImage('visita');
      });
      alternativaBtn.addEventListener("click", function() {
          changeImage('alternativa');
      });
  
      changeImage('local');
  });
</script>
<script>
  window.onload = function() {
    var urlParams = new URLSearchParams(window.location.search);
    var imageUrl = urlParams.get('imageUrl');

    if (imageUrl) {
      document.getElementById('imgChange8').src = imageUrl;
    }
  };
</script>
<script>
  document.getElementById('local').addEventListener('click', function() {
  document.getElementById('producto-7').style.display = 'block';
  document.getElementById('producto-8').style.display = 'none';
});

  document.getElementById('visita').addEventListener('click', function() {
  document.getElementById('producto-7').style.display = 'none';
  document.getElementById('producto-8').style.display = 'block';
});
</script>
{% endblock %}

{% block contenido %} 
{% load humanize %}
<!--Container PSG-->
<!--Imagen de logo liga-->
<header class="d-flex justify-content-center align-items-center">
  <center><img class="imglogo img-fluid"src="{% static 'pagina/img/logoparis.png' %}" alt="centered image" height="50%" width="50%"> </center>
</header>
<h3 class="text1">Seleciona Camiseta PSG Local/Visita:</h3>
<div class="seleccion-camiseta">
  <div id="local"><H5>L</H5></div>
  <div id="visita"><H5>V</H5></div>
</div><br>
    <div class="contenedor">
        <div class="row">
          <div class="col-lg-6">
            <div class="contenedor-img">
              <img src="{% static 'pagina/img/Europa/Francia/polera_psg.jpg' %}" id="imgChange8" alt="" class="img-fluid" />
            </div>
          </div>
        <div class="col-lg-6">
          {% for p in productos_psg %}
          {% if p.id == 7 %}
          <br><div class="contenedor-info-prod" id="producto-7" style="display: block;">
            <h1>{{p.nombre}}</h1>
            <h5>{{p.descripcion}}</h5>
            <div class="contenedor-precio">
              <span class="precio">${{p.precio | intcomma}}</span>
            </div><br>
           <div class="contenedor-detalles-prod">
              <div class="form-group">
                <label for="talla">Tallas</label>
                <select name="size" id="size" class="form-control">
                {% for talla in p.talla.all %}
                  <option value="{{ talla }}">{{ talla.nombre }}</option>
                {% endfor %}
                </select>
              </div>
            </div>
          </div>
          {% elif p.id == 8 %}
          <div class="contenedor-info-prod" id="producto-8" style="display: none;">
            <h1>{{p.nombre}}</h1>
            <h5>{{p.descripcion}}</h5>
            <div class="contenedor-precio">
              <span class="precio">${{p.precio | intcomma}}</span>
            </div><br>
           <div class="contenedor-detalles-prod">
              <div class="form-group">
                <label for="talla">Tallas</label>
                <select name="size" id="size" class="form-control">
                {% for talla in p.talla.all %}
                  <option value="{{ talla }}">{{ talla.nombre }}</option>
                {% endfor %}
                </select>
              </div>
            </div>
          </div><hr>
          {% endif %}
        {% endfor %}
          <div class="contenedor-detalles-prod-per">
            <h4>Personaliza tu camiseta</h4>
            <section class="regist-name-num">
              <h>Nombre</h>
              <input class="form-controls" type="text" name="nombres" id="nombres">
              <p>$5.000 (indique NOMBRE para camiseta)</p> 
              <h>Número</h>
              <input class="form-controls" type="text" name="número" id="numero">
              <p>$5.000 (indique NUMERO para camiseta)</p>
            </section>          
          </div>
  
          <div class="contenedor-add-cart">
            <div class="contenedor-cantidad">
              <input type="number" placeholder="1" value="1" min="1" class="form-controls input-cantidad"/>
            </div>
            <button class="btn btn-add-cart" id="carrito">
            <a href="#" data-id="1"><i class="bi-cart-plus"></i></a>    
            </button>
            <a href="comprar.html" class="btn btn-add-cart">Comprar</a>                               
          </div>
        
      <div class="contenedor-descrip">
          <div class="title-descrip">
            <h4>Descripción</h4>
          </div>
          <div class="text-descrip">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
              delectus commodi, mollitia, consequatur ex dolorum maiores beatae
              quidem maxime rem, dolore ullam recusandae repudiandae tempora.
              Unde neque suscipit voluptas facere!, Lorem ipsum dolor, sit amet 
              consectetur adipisicing elit. Sint delectus commodi, mollitia, 
              consequatur ex dolorum maiores beatae uidem maxime rem, dolore
              ullam recusandae repudiandae tempora.Unde neque suscipit voluptas 
              facere!
            </p>
          </div>
      </div>
  
      <div class="contenedor-info-add">
          <div class="title-info-add">
            <h4>Información adicional</h4>
          </div>
          <div class="text-info-add">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
              delectus commodi, mollitia, consequatur ex dolorum maiores beatae
              quidem maxime rem, dolore ullam recusandae repudiandae tempora.
              Unde neque suscipit voluptas facere!
            </p>
          </div>
      </div>
      <div class="contenedor-social">
          <h4>Compartir</h4>
          <div class="contenedor-btn-social">
            <i class="bi bi-instagram"></i>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-twitter"></i>                      
          </div>
      </div>
      </div>   
      </div>
      </div>   
    </div> 
<!--sección interes camisetas-->
<div class="container">
  <h3 class="text-center">Tambien te recomendamos</h3><br>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for p in productos_interes %}
    <div class="col-md-4">
      <div class="card">
        {% if p.imagen %}
        <img src="{{ p.imagen.url }}" class="card-img img-fluid" alt="...">
        {% endif %}
        <div class="card-body">
          <h4 class="card-title fw-bold">{{p.nombre}}</h4>
          <h5 class="card-title fw-bold">$ {{p.precio | intcomma}}</h5>
          <div class="rating">
            <i class="bi bi-star star"></i>
            <i class="bi bi-star star"></i>
            <i class="bi bi-star star"></i>
            <i class="bi bi-star star"></i>
            <i class="bi bi-star star"></i>
          </div>
          <p class="card-text">{{p.descripcion}}</p>
        </div>
        <div class="d-flex justify-content-around mb-4">
          <a href="#" class="btn btn-primary ">Ver mas</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</div><br><br>

{% endblock %}