
{% extends 'pagina/base.html' %}
{% load static %}

{% block js %}
<script>
  document.getElementById('form-agregar-carrito').addEventListener('submit', function(event) {
    const nombre = document.getElementById('nombres').value;
    const numero = document.getElementById('numero').value;
    const talla_id = document.getElementById('talla').value;
  });
</script>
{% endblock %}

{% block contenido %} 
{% load humanize %} 
<!--Imagen BANNER-->
<center><img class="imglogo img-fluid" src="{% static 'pagina/img/chile/banner-chile_1400x450.jpg' %}" alt="centered image" height="50%" width="100%"><br><br>
</center>
 <div class="container-title">
  <h3 class="text-center">NUEVA CAMISETA SELECCIÓN CHILENA</h3>
  <h5 class="text-center">Compra la camiseta oficial adidas de la Selección de Chile</h5> 
 </div>
 <!--Imagen de logo liga-->
<header class="d-flex justify-content-center align-items-center">
  <center><img class="imglogo img-fluid"src="{% static 'pagina/img/CHILE.PNG' %}" alt="centered image" height="50%" width="50%"> </center>
</header><br><br>
<!--detalle-->
<center><div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for p in productos_chile %}
    <div class="col-md-4">
      <div class="card">
        {% if p.imagen %}
        <img src="{{ p.imagen.url }}" class="card-img img-fluid" alt="...">
        {% endif %}
        <div class="card-body">
          <h4 class="card-title fw-bold">{{p.nombre}}</h4>
          <h5 class="card-title fw-bold">{{p.descripcion}}</h5>
          <h5 class="card-title fw-bold">$ {{p.precio | intcomma}}</h5>
          <div class="rating">
            <i class="bi bi-star star"></i>
            <i class="bi bi-star star"></i>
            <i class="bi bi-star star"></i>
            <i class="bi bi-star star"></i>
            <i class="bi bi-star star"></i>
          </div>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="d-flex justify-content-around mb-4">
          <a href="{% url 'detalleP' p.id %}" class="btn btn-primary ">Ver mas</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div></center><br><br>
<!--detalle-->
 
<center>
    <img class="imglogo img-fluid" src="{% static 'pagina/img/chile/CHILE1.jpg' %}" alt="centered image" height="600" width="400"> 
    <img class="imglogo img-fluid" src="{% static 'pagina/img/chile/CHILE2.jpg' %}" alt="centered image" height="600" width="400">
    <img class="imglogo img-fluid" src="{% static 'pagina/img/chile/CHILE3.jpg' %}" alt="centered image" height="600" width="426">
</center>

  <!--sección interes camisetas-->
<div class="container">
  <h3 class="text-center">Tambien te recomendamos</h3><br>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for p in productos_interes %}
    <div class="col-md-4">
      <div class="card">
        {% if p.imagen %}
        <img src="{{ p.imagen.url }}" class="card-img img-fluid" alt="...">
        {% endif %}
        <div class="card-body">
          <h4 class="card-title fw-bold">{{p.nombre}}</h4>
          <h5 class="card-title fw-bold">$ {{p.precio | intcomma}}</h5>
          <div class="rating">
            <i class="bi bi-star star"></i>
            <i class="bi bi-star star"></i>
            <i class="bi bi-star star"></i>
            <i class="bi bi-star star"></i>
            <i class="bi bi-star star"></i>
          </div>
          <p class="card-text">{{p.descripcion}}</p>
        </div>
        <div class="d-flex justify-content-around mb-4">
          <a href="{% url 'detalleP' p.id %}"class="btn btn-primary ">Ver mas</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</div><br><br>

{% endblock %}