
{% extends 'pagina/base.html' %}
{% load static %}

{% block js %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
      let imgchange2 = document.getElementById("imgChange2");
  
      let localBtn = document.getElementById("local");
      let visitaBtn = document.getElementById("visita");
      let alternativaBtn = document.getElementById("alternativa");
  
      let imgLocal = "{% static 'pagina/img/chile/ULOCAL.avif' %}";
      let imgVisita = "{% static 'pagina/img/chile/Camiseta_Visita_Universidad_de_Chile_2024_Morado_IU8242_01_laydown.avif' %}" ;
      let imgAlternativa = "{% static 'pagina/img/chile/camiseta-u-alternativa.avif' %}";
  
      function changeImage(color) {
          if (color === 'local') {
              imgchange2.src = imgLocal;
          } else if (color === 'visita') {
              imgchange2.src = imgVisita;
          } else if (color === 'alternativa') {
              imgchange2.src = imgAlternativa;
          }
      }
  
      localBtn.addEventListener("click", function() {
          changeImage('local');
      });
      visitaBtn.addEventListener("click", function() {
          changeImage('visita');
      });
      alternativaBtn.addEventListener("click", function() {
          changeImage('alternativa');
      });
  
      changeImage('local');
  });
</script>
<script>
  window.onload = function() {
    var urlParams = new URLSearchParams(window.location.search);
    var imageUrl = urlParams.get('imageUrl');

    if (imageUrl) {
      document.getElementById('imgChange2').src = imageUrl;
    }
  };
</script>
{% endblock %}

{% block contenido %} 
<!--Container UNIVERSIDAD DE CHILE-->
<br><br><h3 class="text1">Seleciona Camiseta Local/Visita/Alternativa:</h3>
<div class="seleccion-camiseta">
  <div id="local"><H5>L</H5></div>
  <div id="visita"><H5>V</H5></div>
  <div id="alternativa"><H5>A</H5></div>
</div>

  <div class="contenedor">
        <div class="row">
          <div class="col-lg-6">
            <div class="contenedor-img">
              <img src="{% static 'pagina/img/chile/ULOCAL.avif' %}" id="imgChange2" alt="" class="img-fluid" />
            </div>
          </div>
        <div class="col-lg-6">
          <div class="contenedor-info-prod">
            <h1>UNIVERSIDAD DE CHILE 2024-2025</h1>
            <div class="contenedor-precio">
              <span>$50.000 CLP</span>
            </div>
  
          <div class="contenedor-detalles-prod">
              <div class="form-group">
                <label for="talla">Talla</label>
                <select name="size" id="size" class="form-control">
                  <option disabled selected value="">Escoge una opción</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>
                  <option value="XXL">XXL</option>
                </select>
              </div>
          </div>
  
          <div class="contenedor-detalles-prod-per">
            <h4>Personaliza tu camiseta</h4>
            <section class="regist-name-num">
              <h>Nombre</h>
              <input class="form-controls" type="text" name="nombres" id="nombres">
              <p>$5.000 (indique NOMBRE para camiseta)</p> 
              <h>Número</h>
              <input class="form-controls" type="text" name="número" id="numero">
              <p>$5.000 (indique NUMERO para camiseta)</p>
            </section>          
          </div>
  
          <div class="contenedor-add-cart">
            <div class="contenedor-cantidad">
              <input type="number" placeholder="1" value="1" min="1" class="form-controls input-cantidad"/>
            </div>
            <button class="btn btn-add-cart" id="carrito">
            <a href="#" data-id="1"><i class="bi-cart-plus"></i></a>    
            </button>
            <a href="comprar.html" class="btn btn-add-cart">Comprar</a>                               
          </div>
        
      <div class="contenedor-descrip">
          <div class="title-descrip">
            <h4>Descripción</h4>
          </div>
          <div class="text-descrip">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
              delectus commodi, mollitia, consequatur ex dolorum maiores beatae
              quidem maxime rem, dolore ullam recusandae repudiandae tempora.
              Unde neque suscipit voluptas facere!, Lorem ipsum dolor, sit amet 
              consectetur adipisicing elit. Sint delectus commodi, mollitia, 
              consequatur ex dolorum maiores beatae uidem maxime rem, dolore
              ullam recusandae repudiandae tempora.Unde neque suscipit voluptas 
              facere!
            </p>
          </div>
      </div>
  
      <div class="contenedor-info-add">
          <div class="title-info-add">
            <h4>Información adicional</h4>
          </div>
          <div class="text-info-add">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
              delectus commodi, mollitia, consequatur ex dolorum maiores beatae
              quidem maxime rem, dolore ullam recusandae repudiandae tempora.
              Unde neque suscipit voluptas facere!
            </p>
          </div>
      </div>
      <div class="contenedor-social">
          <h4>Compartir</h4>
          <div class="contenedor-btn-social">
            <i class="bi bi-instagram"></i>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-twitter"></i>                      
          </div>
      </div>
      </div>   
      </div>
      </div>   
  </div> 
  <!--sección interes camisetas-->
  <div class="container">
    <h3 class="text-center">También te recomendamos</h3><br>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'pagina/img/brasil/BRASIL-LOCAL.jpg' %}" class="card-img img-fluid" alt="...">
              <div class="card-body">
                <h4 class="card-title fw-bold">SELECCIÓN DE BRASIL</h4>
                <h5 class="card-title fw-bold">Visita 2024-2025</h5>
                <div class="rating">
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="d-flex justify-content-around mb-4">
                <a href="{% url 'brasil' %}?imageUrl=/static/pagina/img/brasil/BRASIL-LOCAL.jpg"  class="btn btn-primary ">Ver mas</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'pagina/img/chile/Camiseta_Visitante_Chile_2024_Bl_2_840x840.webp' %}" class="card-img img-fluid" alt="...">
              <div class="card-body">
                <h4 class="card-title fw-bold">SELECIÓN CHILENA</h4>
                <h5 class="card-title fw-bold">Visita 2024-2025</h5>
                <div class="rating">
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="d-flex justify-content-around mb-4">
                
                <a href="{% url 'selechile' %}?imageUrl=/static/pagina/img/chile/Camiseta_Visitante_Chile_2024_Bl_2_840x840.webp"  class="btn btn-primary ">Ver mas</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'pagina/img/ARGENTINA/ARGENTINA VISITA.webp' %}" class="card-img img-fluid" alt="...">
              <div class="card-body">
                <h4 class="card-title fw-bold">SELECCIÓN ARGENTINA</h4>
                <h5 class="card-title fw-bold">Visita 2024-2025</h5>
                <div class="rating">
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                  <i class="bi bi-star star"></i>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="d-flex justify-content-around mb-4">
                <a href="{% url 'argentina' %}?imageUrl=/static/pagina/img/ARGENTINA/ARGENTINA VISITA.webp"  class="btn btn-primary ">Ver mas</a>
              </div>
            </div>
          </div>
        </div><br><br>
  </div><br><br>
 
{% endblock %}