{% extends 'pagina/base.html' %}

{% block contenido %}

<div class="container">
    <br><br>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">

            <div class="card">
                <div class="card-body">
                    <center><h1>Registro de Usuario</h1></center><hr>

                    <form action="" method="post">

                        {% csrf_token %}
                        {{ form }}
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <a href="{% url 'index' %}" class="btn btn-link">Ir al home</a> | 
                                <a href="{% url 'login' %}" class="btn btn-link">Iniciar Sessión</a>
                            </div>
                            <button type="submit" value="Registrar" class="btn btn-success">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><br><br><br>
{% endblock %}










